<a href="https://colab.research.google.com/github/lvalese/Training-Notebooks/blob/master/SetsLV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sets in Python
Set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

---

In [1]:
# Create a set 
# A set is a unique collection of objects in Python. You can denote a set with a curly bracket {}. Python will automatically remove duplicate items

setA = {"Palmeiras", "Corinthians", "Santos", "Cruzeiro", "Santos", "Flamengo", "Cruzeiro", "Palmeiras"}
setA

{'Corinthians', 'Cruzeiro', 'Flamengo', 'Palmeiras', 'Santos'}

In [2]:
# We can add an element to a set

setA.add("Bahia")
setA

{'Bahia', 'Corinthians', 'Cruzeiro', 'Flamengo', 'Palmeiras', 'Santos'}

In [4]:
# We can remove an element from a set

setA.remove ("Flamengo")
setA

{'Bahia', 'Corinthians', 'Cruzeiro', 'Palmeiras', 'Santos'}

In [5]:
# We can verify if an element is in the set

"Palmeiras" in setA

True

You can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [6]:
# Considering the below Sample Sets:

setA = {"Palmeiras", "Corinthians", "Santos", "Cruzeiro", "Santos", "Cruzeiro", "Palmeiras"}
setB = {"Palmeiras", "Cruzeiro", "Flamengo", "Cruzeiro", "Palmeiras", "Bahia"}
setA, setB

({'Corinthians', 'Cruzeiro', 'Palmeiras', 'Santos'},
 {'Bahia', 'Cruzeiro', 'Flamengo', 'Palmeiras'})

In [7]:
# We can find the intersections:

intersection = setA & setB
intersection

{'Cruzeiro', 'Palmeiras'}

In [8]:
# We can find the elements that are in setB, but not in setA:

setB.difference(setA)

{'Bahia', 'Flamengo'}

In [9]:
# We can find the union of two sets

setA.union(setB)

{'Bahia', 'Corinthians', 'Cruzeiro', 'Flamengo', 'Palmeiras', 'Santos'}

In [0]:
# This is the end of this Notebook with some examples of the usage of Sets.

Feel free to use and share at any time!

Rgds,
####**L.V.**