<a href="https://colab.research.google.com/github/lvalese/Training-Notebooks/blob/master/TuplesLV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples in Python
A tuple is a sequence of **immutable** Python objects. Tuples are sequences, just like lists.
List and Tuple in Python are the class of data structure. The list is dynamic, whereas tuple has static characteristics. Tuple is also a sequence data type that can contain elements of different data types, but these are immutable in nature. In other words, a tuple is a collection of Python objects separated by commas.
Tuples are used to group together related data, such as a person's name, their age, and their gender. An assignment to all of the elements in a tuple using a single assignment statement.

---

In [2]:
# Create a tuple:

MyDaughter = ("Lavinia", 2019, 0.5, "female")
MyDaughter

('Lavinia', 2019, 0.5, 'female')

In [4]:
# You can print the type of this variable
type (MyDaughter)

tuple

#####*Indexing:*

In [0]:
# Each element in the Tuple can be accessed using an index represented by the array of numbers:

| **0** | **1** | **2** | **3** |
|:-----:|:-----:|:-----:|:-----:|
Lavinia|2019|0.5|Female|

In [5]:
# Indexing returns the item:
MyDaughter [0]

'Lavinia'

In [6]:
# Indexing returns the type of value in each index:
print(type(MyDaughter[0]))
print(type(MyDaughter[1]))
print(type(MyDaughter[2]))
print(type(MyDaughter[3]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

#####*Slicing:*

In [7]:
# We can slice tuples, obtaining new tuples with the corresponding elements:
MyDaughter [0:2]

('Lavinia', 2019)

#####*Lenght:*

In [15]:
# We can find the lenght of a tuple:
len (MyDaughter)

4

#####*Sorting:*

In [11]:
# Consider the following Tuple:
Months = (3, 11, 4, 6, 1, 7, 10, 8, 2, 5, 9, 12)
Months

(3, 11, 4, 6, 1, 7, 10, 8, 2, 5, 9, 12)

In [13]:
# We can sort a Tuple
OrganizedMonths = sorted(Months)
OrganizedMonths

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [0]:
# This is the end of this Notebook with some examples of the usage of Tuples.

Feel free to use and share at any time!

Rgds,
####**L.V.**