<a href="https://colab.research.google.com/github/lvalese/Training-Notebooks/blob/master/Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Types in Python
There are many different types of objects in Python.


The most common TYPES used in Python are:

---

* `Str`   Strings
* `Int`   Integers
* `Float` Floats
* `Bool`  Boolean

#####*Strings (Str):*

In [2]:
# Strings(Str) - Anytime you write text in Python, you're using character strings. See some examples below:

"Hello, World"
"My name is Leonardo"
"The best soccer club in the world is Palmeiras"
"Good studies to all"

'Good studies to all'

#####*Integers (Int):*

In [3]:
# Integers (Int) - Anytime you write a positive or negative whole numbers with no decimal point, you're using integers type. See some examples below:

-2
0
2

2

#####*Float (float):*

In [4]:
# Floats (float) - They represent real numbers and are written with a decimal point dividing the integer and fractional parts. See some examples below:

-2.0
1.0
0.5

0.5

#####*Boolean (bool):*

In [5]:
# Boolean (bool) - Bool is used to test whether the result of an expression is true or false. See the examples below:

True
False

False

#####*How do you find the type of an expression in Python?*

In [0]:
# You can get Python to tell you the type of an expression by using the built-in type() function. See some examples below:

In [9]:
# Type of 'Hello, World'
type('Hello, World')

str

In [6]:
# Type of 2
type(2)

int

In [8]:
# Type of 2.0
type(2.0)

float

In [10]:
# Type of True
type(True)

bool

#####*How to convert from one object type to a different object type?*

In [0]:
# You can get Python to convert to you the type of an expression. See some examples below:

In [11]:
# Convert 2.0 to an int

int(2.0)

2

In [12]:
# Convert 2 to a float

float(2)

2.0

In [13]:
# Convert a string into an integer

int('2')

2

In [14]:
# Convert the string "0.5" into a float

float('0.5')

0.5

In [15]:
# Convert an integer to a string

str(2)

'2'

In [16]:
# Convert a float to a string

str(0.5)

'0.5'

#####*Convertions are applicable for Boolean expressions?*

In [0]:
# YES. But please note: If we would like to change a boolean with a value of True to an integer or float we will get a one. If we would like to change a boolean with a value of False to an integer or float we will get a zero. Similarly, if we change a 1 to a Boolean, you get a True. And if we change a 0 to a Boolean we will get a False. See some examples below:

In [19]:
# Convert True to int

int(True)

1

In [20]:
# Convert 1 to boolean

bool(1)

True

In [21]:
# Convert 0 to boolean

bool(0)

False

In [22]:
# Convert True to float

float(True)

1.0

In [0]:
# This is the end of this Notebbok with some examples of the most common expression Types.

Feel free to use and share at any time!

Rgds,
####**L.V.**